# CH-6 Classification Analysis Using Python

## KNN(K Nearest Neighbor) : -

In [14]:
import pandas as pd
df = pd.read_csv("KNN.csv")
df

  points  x1  x2  class
0      A   1   2      0
1      B   2   3      0
2      C   3   1      1
3      D   6   5      1

In [15]:
df = df.drop("points",axis=1)
df

   x1  x2  class
0   1   2      0
1   2   3      0
2   3   1      1
3   6   5      1

In [16]:
y = df["class"]
x = df.drop("class",axis=1)
df

   x1  x2  class
0   1   2      0
1   2   3      0
2   3   1      1
3   6   5      1

In [27]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)
x_train

   x1  x2
3   6   5
1   2   3
0   1   2

In [37]:
from sklearn.neighbors import KNeighborsClassifier
nn = KNeighborsClassifier(n_neighbors=1)
model = nn.fit(x_train,y_train)

In [38]:
y_pred = model.predict(x_test)

In [39]:
y_pred

array([0], dtype=int64)

In [40]:
## Confusion Metrics : -
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[0, 0],
       [1, 0]], dtype=int64)

In [48]:
TN = cm[0][0] # 0
FP = cm[0][1] # 0 
FN = cm[1][0] # 1
TP = cm[1][1] # 0
print(TN)
print(FP)
print(FN)
print(TP)

0
0
1
0

In [42]:
accuracy = (TP+TN)/(TP+TN+FP+FN)
accuracy

0.0

In [43]:
error_rate = (FP+FN)/(TP+TN+FP+FN)
error_rate

1.0

In [44]:
error_rate = 1-accuracy
error_rate

1.0

In [45]:
sensitivity = TP/(TP+FN)
sensitivity

0.0

In [46]:
specificity = (TN)/(TN+FP)
specificity

<ipython-input-46-b01751f7ed08>:1: RuntimeWarning: invalid value encountered in longlong_scalars
  specificity = (TN)/(TN+FP)

nan

### Diabities

In [49]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [51]:
y = df["Outcome"]
x = df.drop("Outcome",axis=1)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [52]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
602,1,124,74,36,0,27.8,0.100,30
429,1,95,82,25,180,35.0,0.233,43
623,0,94,70,27,115,43.5,0.347,21
209,7,184,84,33,0,35.5,0.355,41
589,0,73,0,0,0,21.1,0.342,25
...,...,...,...,...,...,...,...,...
534,1,77,56,30,56,33.3,1.251,24
584,8,124,76,24,600,28.7,0.687,52
493,4,125,70,18,122,28.9,1.144,45
527,3,116,74,15,105,26.3,0.107,24
168,4,110,66,0,0,31.9,0.471,29

In [63]:
from sklearn.neighbors import KNeighborsClassifier
nn = KNeighborsClassifier(n_neighbors=27)
model = nn.fit(x_train,y_train)

In [64]:
y_pred = model.predict(x_test)

In [65]:
y_pred

array([0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
      dtype=int64)

## Confusion_matrix

In [66]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[98, 11],
       [24, 21]], dtype=int64)

In [67]:
TN = cm[0][0] 
FP = cm[0][1]  
FN = cm[1][0] 
TP = cm[1][1] 
print(TN)
print(FP)
print(FN)
print(TP)

98
11
24
21

In [68]:
accuracy = (TP+TN)/(TP+TN+FP+FN)
accuracy

0.7727272727272727

In [69]:
error_rate = (FP+FN)/(TP+TN+FP+FN)
error_rate

0.22727272727272727

In [70]:
error_rate = 1-accuracy
error_rate

0.2272727272727273

In [71]:
sensitivity = TP/(TP+FN)
sensitivity

0.4666666666666667

In [62]:
specificity = (TN)/(TN+FP)
specificity

0.7431192660550459

### Last Code

In [1]:
import pandas as pd
df = pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
y = df["Outcome"]
x = df.drop("Outcome",axis=1)
x

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
602,1,124,74,36,0,27.8,0.100,30
429,1,95,82,25,180,35.0,0.233,43
623,0,94,70,27,115,43.5,0.347,21
209,7,184,84,33,0,35.5,0.355,41
589,0,73,0,0,0,21.1,0.342,25
...,...,...,...,...,...,...,...,...
534,1,77,56,30,56,33.3,1.251,24
584,8,124,76,24,600,28.7,0.687,52
493,4,125,70,18,122,28.9,1.144,45
527,3,116,74,15,105,26.3,0.107,24
168,4,110,66,0,0,31.9,0.471,29

In [18]:
from sklearn.tree import DecisionTreeClassifier
nn = DecisionTreeClassifier(criterion="entropy",max_depth=27)

In [19]:
model = nn.fit(x_train,y_train)

In [20]:
y_pred = nn.predict(x_test)
y_pred

array([0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0],
      dtype=int64)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)
cm

array([[80, 29],
       [23, 22]], dtype=int64)

In [22]:
TN = cm[0][0] 
FP = cm[0][1]  
FN = cm[1][0] 
TP = cm[1][1] 
print(TN)
print(FP)
print(FN)
print(TP)

80
29
23
22

In [24]:
accuracy = (TP+TN)/(TP+TN+FP+FN)
accuracy

0.6623376623376623

In [25]:
error_rate = (FP+FN)/(TP+TN+FP+FN)
error_rate

0.33766233766233766

In [26]:
error_rate = 1-accuracy
error_rate

0.33766233766233766

In [27]:
sensitivity = TP/(TP+FN)
sensitivity

0.4888888888888889

In [28]:
specificity = (TN)/(TN+FP)
specificity

0.7339449541284404

In [30]:
from sklearn import tree
gr = tree.export_text(nn)
print(gr)

|--- feature_1 <= 127.50
|   |--- feature_5 <= 26.45
|   |   |--- feature_5 <= 9.10
|   |   |   |--- feature_0 <= 7.50
|   |   |   |   |--- class: 0
|   |   |   |--- feature_0 >  7.50
|   |   |   |   |--- class: 1
|   |   |--- feature_5 >  9.10
|   |   |   |--- class: 0
|   |--- feature_5 >  26.45
|   |   |--- feature_7 <= 28.50
|   |   |   |--- feature_5 <= 30.95
|   |   |   |   |--- class: 0
|   |   |   |--- feature_5 >  30.95
|   |   |   |   |--- feature_5 <= 45.40
|   |   |   |   |   |--- feature_2 <= 53.00
|   |   |   |   |   |   |--- feature_6 <= 0.38
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_6 >  0.38
|   |   |   |   |   |   |   |--- feature_5 <= 33.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  33.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  53.00
|   |   |   |   |   |   |--- feature_6 <= 0.50
|   |   |   |   |   |   |   |--- feature_5 <= 33.45
|   |   |   |   |   |   |   |   |--- feature_2 <= 72.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  72.00
|   |   |   |   |   |   |   |   |   |--- feature_3 <= 32.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_3 >  32.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_5 >  33.45
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_6 >  0.50
|   |   |   |   |   |   |   |--- feature_6 <= 0.55
|   |   |   |   |   |   |   |   |--- feature_0 <= 1.50
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 34.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_5 >  34.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_0 >  1.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_6 >  0.55
|   |   |   |   |   |   |   |   |--- feature_6 <= 1.27
|   |   |   |   |   |   |   |   |   |--- feature_0 <= 2.50
|   |   |   |   |   |   |   |   |   |   |--- feature_0 <= 1.50
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_0 >  1.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |--- feature_0 >  2.50
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_6 >  1.27
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_5 >  45.40
|   |   |   |   |   |--- class: 1
|   |   |--- feature_7 >  28.50
|   |   |   |--- feature_1 <= 100.50
|   |   |   |   |--- feature_7 <= 42.50
|   |   |   |   |   |--- feature_6 <= 1.16
|   |   |   |   |   |   |--- feature_1 <= 31.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_1 >  31.00
|   |   |   |   |   |   |   |--- feature_6 <= 0.17
|   |   |   |   |   |   |   |   |--- feature_7 <= 32.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_7 >  32.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_6 >  0.17
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_6 >  1.16
|   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_7 >  42.50
|   |   |   |   |   |--- feature_3 <= 3.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_3 >  3.50
|   |   |   |   |   |   |--- feature_3 <= 32.50
|   |   |   |   |   |   |   |--- feature_3 <= 24.00
|   |   |   |   |   |   |   |   |--- feature_3 <= 12.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_3 >  12.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_3 >  24.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_3 >  32.50
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |--- feature_1 >  100.50
|   |   |   |   |--- feature_6 <= 0.52
|   |   |   |   |   |--- feature_2 <= 84.00
|   |   |   |   |   |   |--- feature_4 <= 11.00
|   |   |   |   |   |   |   |--- feature_0 <= 9.50
|   |   |   |   |   |   |   |   |--- feature_6 <= 0.24
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 29.75
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_5 >  29.75
|   |   |   |   |   |   |   |   |   |   |--- feature_6 <= 0.23
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_6 >  0.23
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_6 >  0.24
|   |   |   |   |   |   |   |   |   |--- feature_6 <= 0.39
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |--- feature_6 >  0.39
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_0 >  9.50
|   |   |   |   |   |   |   |   |--- feature_7 <= 40.50
|   |   |   |   |   |   |   |   |   |--- feature_2 <= 35.00
|   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |--- feature_2 >  35.00
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_7 >  40.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_4 >  11.00
|   |   |   |   |   |   |   |--- feature_0 <= 8.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_0 >  8.00
|   |   |   |   |   |   |   |   |--- feature_3 <= 32.50
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_3 >  32.50
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  84.00
|   |   |   |   |   |   |--- feature_5 <= 41.25
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  41.25
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_6 >  0.52
|   |   |   |   |   |--- feature_0 <= 5.00
|   |   |   |   |   |   |--- feature_4 <= 120.50
|   |   |   |   |   |   |   |--- feature_2 <= 69.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  69.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_4 >  120.50
|   |   |   |   |   |   |   |--- feature_3 <= 47.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_3 >  47.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_0 >  5.00
|   |   |   |   |   |   |--- class: 1
|--- feature_1 >  127.50
|   |--- feature_1 <= 165.50
|   |   |--- feature_5 <= 27.85
|   |   |   |--- feature_0 <= 1.50
|   |   |   |   |--- class: 0
|   |   |   |--- feature_0 >  1.50
|   |   |   |   |--- feature_1 <= 145.50
|   |   |   |   |   |--- feature_2 <= 73.00
|   |   |   |   |   |   |--- feature_5 <= 26.70
|   |   |   |   |   |   |   |--- feature_5 <= 25.50
|   |   |   |   |   |   |   |   |--- feature_2 <= 68.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  68.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  25.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_5 >  26.70
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_2 >  73.00
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_1 >  145.50
|   |   |   |   |   |--- feature_6 <= 0.31
|   |   |   |   |   |   |--- feature_2 <= 63.00
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_2 >  63.00
|   |   |   |   |   |   |   |--- feature_2 <= 85.00
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_2 >  85.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_6 >  0.31
|   |   |   |   |   |   |--- class: 1
|   |   |--- feature_5 >  27.85
|   |   |   |--- feature_0 <= 7.50
|   |   |   |   |--- feature_4 <= 252.50
|   |   |   |   |   |--- feature_6 <= 0.72
|   |   |   |   |   |   |--- feature_5 <= 34.10
|   |   |   |   |   |   |   |--- feature_6 <= 0.63
|   |   |   |   |   |   |   |   |--- feature_7 <= 62.00
|   |   |   |   |   |   |   |   |   |--- feature_7 <= 42.50
|   |   |   |   |   |   |   |   |   |   |--- feature_6 <= 0.28
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |   |   |--- feature_6 >  0.28
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 5
|   |   |   |   |   |   |   |   |   |--- feature_7 >  42.50
|   |   |   |   |   |   |   |   |   |   |--- feature_3 <= 39.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |   |   |--- feature_3 >  39.00
|   |   |   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_7 >  62.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_6 >  0.63
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_5 >  34.10
|   |   |   |   |   |   |   |--- feature_3 <= 49.50
|   |   |   |   |   |   |   |   |--- feature_7 <= 25.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_7 >  25.00
|   |   |   |   |   |   |   |   |   |--- feature_5 <= 47.20
|   |   |   |   |   |   |   |   |   |   |--- feature_7 <= 28.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 2
|   |   |   |   |   |   |   |   |   |   |--- feature_7 >  28.50
|   |   |   |   |   |   |   |   |   |   |   |--- truncated branch of depth 4
|   |   |   |   |   |   |   |   |   |--- feature_5 >  47.20
|   |   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_3 >  49.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_6 >  0.72
|   |   |   |   |   |   |--- feature_6 <= 1.59
|   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_6 >  1.59
|   |   |   |   |   |   |   |--- feature_7 <= 38.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_7 >  38.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_4 >  252.50
|   |   |   |   |   |--- feature_7 <= 42.50
|   |   |   |   |   |   |--- feature_2 <= 72.00
|   |   |   |   |   |   |   |--- feature_0 <= 2.50
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_0 >  2.50
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_2 >  72.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_7 >  42.50
|   |   |   |   |   |   |--- class: 1
|   |   |   |--- feature_0 >  7.50
|   |   |   |   |--- feature_6 <= 0.43
|   |   |   |   |   |--- feature_6 <= 0.36
|   |   |   |   |   |   |--- feature_1 <= 131.00
|   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |--- feature_1 >  131.00
|   |   |   |   |   |   |   |--- feature_5 <= 31.85
|   |   |   |   |   |   |   |   |--- feature_2 <= 81.00
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |   |--- feature_2 >  81.00
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  31.85
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |--- feature_6 >  0.36
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_6 >  0.43
|   |   |   |   |   |--- class: 1
|   |--- feature_1 >  165.50
|   |   |--- feature_2 <= 93.00
|   |   |   |--- feature_6 <= 2.23
|   |   |   |   |--- feature_3 <= 32.50
|   |   |   |   |   |--- feature_7 <= 66.50
|   |   |   |   |   |   |--- feature_6 <= 0.31
|   |   |   |   |   |   |   |--- feature_7 <= 39.00
|   |   |   |   |   |   |   |   |--- feature_5 <= 30.40
|   |   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |   |--- feature_5 >  30.40
|   |   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |   |   |--- feature_7 >  39.00
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |--- feature_6 >  0.31
|   |   |   |   |   |   |   |--- feature_5 <= 45.30
|   |   |   |   |   |   |   |   |--- class: 1
|   |   |   |   |   |   |   |--- feature_5 >  45.30
|   |   |   |   |   |   |   |   |--- class: 0
|   |   |   |   |   |--- feature_7 >  66.50
|   |   |   |   |   |   |--- class: 0
|   |   |   |   |--- feature_3 >  32.50
|   |   |   |   |   |--- class: 1
|   |   |   |--- feature_6 >  2.23
|   |   |   |   |--- class: 0
|   |   |--- feature_2 >  93.00
|   |   |   |--- feature_0 <= 7.50
|   |   |   |   |--- feature_0 <= 2.00
|   |   |   |   |   |--- class: 1
|   |   |   |   |--- feature_0 >  2.00
|   |   |   |   |   |--- class: 0
|   |   |   |--- feature_0 >  7.50
|   |   |   |   |--- class: 1

In [31]:
pre = [[10,20,30,40,50,60,70,80]]
test_data =nn.predict(pre)
test_data

array([0], dtype=int64)